* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#desktop-nav {
    display: none;
}
body {
    font-family: sans-serif;
    color: lawngreen;
}
p {
    padding: 0, 1%;
    align-items: stretch;
    align-content: center;
}
h1 {
    font-size: 15vw;
    text-align: center;
    margin: 1%;
}
h5 {
    color: gray;
}
.haupt {
    height: 92vh;
}
.haupt p {
    display: flex;
}
.haupt p label {
    width: 50%;
    text-align: right;
    padding-right: 10px;
}
.haupt p input {
}
footer {
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 5%;

}
/**
Nav, general
**/

nav ul {
    list-style-type: none;
}

nav a {
    color: black;
}

nav a:hover {
    color: lawngreen;
}

/**
Nav, mobile
**/

#burger-icon {
    margin:;
    margin-right:;    
}

#burger-icon div {
    width: 60px;
    height: 10px;
    border-radius:;
    background-color: rgba(150, 160, 170);
    margin: 3px;
    padding-right:;
}

#burger-icon:hover div {
    background-color: rgb(160, 170, 180);
}

#burger-icon:hover {
    cursor: pointer;
}

#mobile-nav ul {
}

#mobile-nav ul li {
}

#mobile-nav ul li a {
    display: inline-block;
    width:;
    padding:;
    font-size: 1em;
}

#mobile-nav {
    position: fixed;
    margin-right: 1%;
    margin-left: 90%;
    margin-bottom: 1%;
    width:;
    bottom: 0;
    height: ;
    padding-bottom:;
    overflow-y: hidden;
    background-color: rgba(230, 240, 240, 0);
}

/**
Nav, desktop
**/

.desktop-nav {
    position: fixed;
    bottom: 0;
}

.desktop-nav ul {
    display: flex;
}

.desktop-nav ul li a {
    padding: 3px 5px;
    margin-right: 2px;
}

/*
Responsive design, mobile first
*/

@media only screen and (min-width: 5000px) {


/*
Nav, desktop
*/

#desktop-nav {
    display: block;
}

#mobile-nav {
    display: none;
}

/*
Layout, desktop
*/

body,
section {
    padding-top: 5vw;
}

#desktop-nav ul,
h1,
h2,
h3,
p {
    padding: 0 10vw;
}
